.logicalblocksize {
  margin-left: 90px;
}

.macroblocksize {
  margin-left: 100px;
}

.Macroblocksizediv {
  margin-top: 15px;
}

.Block {
  position: relative;
  left: 180px;
  top: 0px;
  height: 100;
  width: 100;
}
.macrospare {
  margin-left: 88px;
}
.macropreallocation {
  margin-left: 34px;
}

.macrobatch {
  margin-left: 19px;
}
