.Compressor {
  position: relative;
  left: 180px;
  top: 0px;
  height: 100;
  width: 100;
}

.firstdiv {
  margin-top: 15px;
}

.secondiv {
  margin-top: 15px;
}

.selectbox2 {
  width: 200px;
  position: relative;
  margin-left: 50px;
}
.selectbox3 {
  width: 200px;
  position: relative;
  margin-left: 40px;
}

.maxdelta {
  margin-top: 15px;
}

.maxdeltaqueue {
  margin-left: 20px;
}
