.IO {
  position: relative;
  left: 180px;
  top: 0px;
  height: 100;
  width: 100;
}

.iodiv {
  margin-bottom: 15px;
}

.datafilesinput {
  margin-left: 50px;
}
.translationfilesinput {
  margin-left: 10px;
}
.bootfilesinput {
  margin-left: 56px;
}
